// Generated SCSS variables from Figma Variables // 

$blue-100-light-mode: #f2f7ff;
$blue-200-light-mode: #e3edff;
$blue-300-light-mode: #cbddff;
$blue-400-light-mode: #609aff;
$blue-500-light-mode: #146aff;
$blue-600-light-mode: #0b4dff;
$blue-700-light-mode: #063cff;
$blue-800-light-mode: #002ccb;
$gray-100-light-mode: #e3e7e9;
$gray-200-light-mode: #bac2c7;
$gray-300-light-mode: #183444;
$gray-400-light-mode: #0e212d;
$gray-500-light-mode: #08151f;
$gray-600-light-mode: #010304;
$card-width-small-mode-1: 120px;
$card-width-medium-mode-1: 240px;
$card-width-large-mode-1: 460px;
$radius-sm-mode-1: 4px;
$radius-large-mode-1: 8px;
$padding-sm-mode-1: 16px;
$padding-med-mode-1: 32px;
$padding-lg-mode-1: 48px;
$brand-primary-lightest-mode-1: $Blue.blue-200;
$brand-primary-light-mode-1: $Blue.blue-300;
$brand-primary-default-mode-1: $Blue.blue-500;
$brand-primary-dark-mode-1: $Blue.blue-600;
$brand-primary-darkest-mode-1: $Blue.blue-700;
$brand-secondary-lightest-mode-1: $Gray.gray-100;
$brand-secondary-light-mode-1: $Gray.gray-200;
$brand-secondary-default-mode-1: $Gray.gray-300;
$brand-secondary-dark-mode-1: $Gray.gray-400;
$brand-secondary-darkest-mode-1: $Gray.gray-600;
