// Generated SCSS variables from Figma Variables //

// Base Palette Collection
$blue-50-mode-1: #e3edff;
$blue-100-mode-1: #cbddff;
$blue-200-mode-1: #8ab5ff;
$blue-300-mode-1: #5b97ff;
$blue-400-mode-1: #3780ff;
$blue-500-mode-1: #146aff;
$blue-600-mode-1: #1262ff;
$blue-700-mode-1: #0e57ff;
$blue-800-mode-1: #0b4dff;
$blue-900-mode-1: #063cff;
$gray-50-mode-1: #e3e7e9;
$gray-100-mode-1: #bac2c7;
$gray-200-mode-1: #8c9aa2;
$gray-300-mode-1: #5d717c;
$gray-400-mode-1: #3b5260;
$gray-500-mode-1: #183444;
$gray-600-mode-1: #152f3e;
$gray-700-mode-1: #112735;
$gray-800-mode-1: #0e212d;
$gray-900-mode-1: #08151f;
$yellow-50-mode-1: #fef4e5;
$yellow-100-mode-1: #fce4bd;
$yellow-200-mode-1: #fad391;
$yellow-300-mode-1: #f8c165;
$yellow-400-mode-1: #f7b344;
$yellow-500-mode-1: #f5a623;
$yellow-600-mode-1: #f49e1f;
$yellow-700-mode-1: #f2951a;
$yellow-800-mode-1: #f08b15;
$yellow-900-mode-1: #ee7b0c;
$greyscale-100 (white)-mode-1: #ffffff;
$greyscale-200-mode-1: #eaeaea;
$greyscale-300-mode-1: #cbcbcb;
$greyscale-400-mode-1: #525252;
$greyscale-500-mode-1: #383838;
$greyscale-600-mode-1: #282828;
$greyscale-700 (black)-mode-1: #000000;
$red-50-mode-1: #f8e7e7;
$red-100-mode-1: #eec3c3;
$red-200-mode-1: #e39b9b;
$red-300-mode-1: #d87272;
$red-400-mode-1: #cf5454;
$red-500-mode-1: #c73636;
$red-600-mode-1: #c13030;
$red-700-mode-1: #ba2929;
$red-800-mode-1: #b32222;
$red-900-mode-1: #a61616;
$red-a100-mode-1: #ffdada;
$twitter-mode-1: #5bc0de;
$facebook-mode-1: #3b5998;
$red-a200-mode-1: #ffa7a7;
$red-a400-mode-1: #ff7474;
$linkedin-mode-1: #0077b5;
$salesforce-mode-1: #1797c0;
$red-a700-mode-1: #ff5a5a;
$ai generated-mode-1: #9255c7;
$icon-ui-default-mode-1: #6c92ab;
$icon-ui-light-mode-1: #c2daea;
$icon-ui-disabled-mode-1: #bababa;
$background-light-blue-mode-1: #f7f9fc;
$background-light-mode-1: #f2f2f2;
$background-lightest-mode-1: #fafafa;
$background-darkest-mode-1: #333333;
$background-dark-mode-1: #6b6b6b;
$avatar-1-mode-1: #512da8;
$avatar-2-mode-1: #5c6bc0;
$avatar-3-mode-1: #78909c;
$avatar-4-mode-1: #455a64;
$avatar-5-mode-1: #004d40;
$avatar-6-mode-1: #01579b;
$avatar-7-mode-1: #0288d1;
$avatar-8-mode-1: #c2185b;
$avatar-9-mode-1: #bf360c;
$avatar-10-mode-1: #ef6c00;
$avatar-11-mode-1: #8d6e63;
$avatar-12-mode-1: #5d4037;

// Brand Colors Collection
$brand-primary-lightest-mode-1: $blue-50-mode-1;
$brand-primary-light-mode-1: $blue-100-mode-1;
$brand-primary-default-mode-1: $blue-500-mode-1;
$brand-primary-dark-mode-1: $blue-800-mode-1;
$brand-primary-darkest-mode-1: $blue-900-mode-1;
$brand-secondary-lightest-mode-1: $gray-50-mode-1;
$brand-secondary-light-mode-1: $gray-100-mode-1;
$brand-secondary-default-mode-1: $gray-500-mode-1;
$brand-secondary-dark-mode-1: $gray-800-mode-1;
$brand-secondary-darkest-mode-1: $gray-900-mode-1;
$brand-tertiary-lightest-mode-1: $yellow-50-mode-1;
$brand-tertiary-light-mode-1: $yellow-100-mode-1;
$brand-tertiary-default-mode-1: $yellow-500-mode-1;
$brand-tertiary-dark-mode-1: $yellow-800-mode-1;
$brand-tertiary-darkest-mode-1: $yellow-900-mode-1;
$greyscale-white-mode-1: $greyscale-100 (white)-mode-1;
$greyscale-lightest-mode-1: $greyscale-200-mode-1;
$greyscale-light-mode-1: $greyscale-300-mode-1;
$greyscale-default-mode-1: $greyscale-400-mode-1;
$greyscale-dark-mode-1: $greyscale-500-mode-1;
$greyscale-darkest-mode-1: $greyscale-600-mode-1;
$greyscale-black-mode-1: $greyscale-700 (black)-mode-1;
$status-error-lightest-mode-1: $red-50-mode-1;
$status-error-light-mode-1: $red-100-mode-1;
$status-error-default-mode-1: $red-500-mode-1;
$status-error-dark-mode-1: $red-800-mode-1;
$status-error-darkest-mode-1: $red-900-mode-1;

