// Generated SCSS variables from Figma Variables // 

$color-mode-1: #ffffff;
$number-mode-1: 0px;
$string-mode-1: String value;
$blue-100-mode-1: #f2f7ff;
$blue-200-mode-1: #ffffff;
$color-light: undefined;
$color-dark: undefined;
